<div id="constructions-list">
  <ul class="list-group">
    <% @constructions.each do |constr| %>
      <%= turbo_frame_tag constr do %>
        <%= link_to constr.name,
                    postprocessor_path(constr),
                    class: "list-group-item list-group-item-action d-flex justify-content-between align-items-center py-3"%>
      <% end %>
    <% end %>
  </ul>
</div>