<footer class="bg-dark text-center text-bg-light fixed-bottom">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    <h7 class="text-white">© 2022 Copyright:</h7>
    <a class="text-light" href="https://github.com/Keallar">Keallar</a>
  </div>
</footer>