<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to "CАПР", root_path, class: "navbar-brand" %>
    <div class="container">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <%= link_to "Препроцессор", preprocessor_index_path, class: "nav-link link-light" %>
        </li>
        <li class="nav-item">
          <%= link_to "Постпроцессор", postprocessor_index_path, class: "nav-link link-light" %>
        </li>
      </ul>
    </div>
    <div class="btn-group dropstart">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Конструкции
      </button>
      <ul class="dropdown-menu dropdown-menu-dark">
        <% ApplicationHelper.all_constructions.each do |constr| %>
          <%= link_to constr.name, edit_preprocessor_path(constr), class: "dropdown-item"%>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
