<div class="container-sm mt-4">
  <ul class="list-group d-flex justify-content-between flex-column ">
    <%= link_to "Препроцессор", preprocessor_index_path, class: "list-group-item d-flex justify-content-center" %>
    <%= link_to "Построцессор", postprocessor_index_path, class: "list-group-item d-flex justify-content-center" %>
  </ul>
</div>
