<div id="constructions-list">
  <ul class="list-group">
    <% @constructions.each do |constr| %>
      <%= turbo_frame_tag constr do %>
        <%= link_to edit_preprocessor_path(constr),
                    class: "list-group-item list-group-item-action d-flex justify-content-between align-items-center" do %>
          <%= constr.name %>
          <%= button_to 'Удалить',
                        preprocessor_path(constr),
                        method: :delete,
                        confirm: 'Вы уверены?',
                        class: "btn btn-outline-danger"%>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</div>