<%= turbo_frame_tag construction do %>
  <div class="container mt-4">
    <div class="d-flex justify-content-center">
      <div class="d-flex justify-content-evenly mb-2 mt-2" data-controller="edit-construction-table">
        <button type="button"
                class="btn btn-outline-success me-4"
                data-action="click->edit-construction-table#addRow"
                <%= tag.attributes data: { turbo_frame: dom_id(Rod.new) } %>>
          Добавить стержень
        </button>
        <button type="button"
                class="btn btn-outline-danger me-4"
                data-action="click->edit-construction-table#deleteRow">
          Удалить стержень
        </button>
      </div>
    </div>

    <%= render partial: 'table', locals: { construction: construction } %>

    <%= render partial: 'visualizer'%>

  </div>
<% end %>