<div class="card" id="construction-table" data-controller="new-construction-table">
  <div class="card-header" id="construction-title" data-action="click->new-construction-table#editTitle">
    New
  </div>
  <div class="card-body">
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">№</th>
        <th scope="col">Длина стержня (L)</th>
        <th scope="col">Площадь поперечного сечения (A)</th>
        <th scope="col">Модуль упругости (E)</th>
        <th scope="col">Допускаемое напряжение (<%= 963.chr %>)</th>
        <th scope="col">Сосредоточенная нагрузка (F)</th>
        <th scope="col">Погонная нагрузка (Q)</th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td data-action="click->new-construction-table#editCell">0</td>
          <td data-action="click->new-construction-table#editCell">0</td>
          <td data-action="click->new-construction-table#editCell">0</td>
          <td data-action="click->new-construction-table#editCell">0</td>
          <td data-action="click->new-construction-table#editCell">0</td>
          <td data-action="click->new-construction-table#editCell">0</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
