<div class="card">
  <img
    id='supportLeft'
    src="/assets/supportLeft.png"
    style="display: none"
  />
  <img
    id='supportRight'
    src="/assets/supportRight.png"
    style="display: none"
  />
  <img
    id='arrowLeft'
    src="/assets/arrowLeft.png"
    style="display: none"
  />
  <img
    id='arrowRight'
    src="/assets/arrowRight.png"
    style="display: none"
  />
  <img
    id='arrowLongLeft'
    src="/assets/arrowLongLeft.png"
    style="display: none"
  />
  <img
    id='arrowLongRight'
    src="/assets/arrowLongRight.png"
    style="display: none"
  />
  <canvas id="visualizer"></canvas>
</div>