<%= turbo_frame_tag @construction do %>
  <div class="container mt-4">
    <div class="d-flex justify-content-center">
      <div class="d-flex justify-content-evenly mb-2 mt-2" data-controller="edit-construction-table">
        <button type="button" class="btn btn-outline-success me-4" data-action="click->edit-construction-table#addRow">
          Добавить стержень
        </button>
        <button type="button" class="btn btn-outline-danger me-4" data-action="click->edit-construction-table#deleteRow">
          Удалить стержень
        </button>
      </div>
    </div>
    <%= render partial: 'preprocessor/table' %>
<!--    <div class="d-flex justify-content-center">-->
<!--      <div data-controller="edit-construction-table">-->
<!--        <button type="button" class="btn btn-primary me-2" data-action="click->edit-construction-table#saveEdited">Сохранить</button>-->
<!--      </div>-->
<!--      <div data-controller="visualizer">-->
<!--        <button type="button" class="btn btn-info" data-action="click->visualizer#draw">Отрисовка</button>-->
<!--      </div>-->
<!--    </div>-->
    <%= render partial: 'preprocessor/visualizer' %>
  </div>
<% end %>