<div class="container mt-4">
  <%= render partial: 'preprocessor/constructions_list' %>
  <div class="d-flex justify-content-center mt-2">
    <%= link_to "Добавить новую конструкцию", new_preprocessor_path, class:  "btn btn-primary" %>
  </div>
</div>
