<div class="container mt-4">
  <div class="d-flex justify-content-center">
    <div class="d-flex justify-content-evenly mb-2 mt-2" data-controller="new-construction-table">
      <button type="button" class="btn btn-outline-success me-4" data-action="click->new-construction-table#addRow">
        Добавить стержень
      </button>
      <button type="button" class="btn btn-outline-danger me-4" data-action="click->new-construction-table#deleteRow">
        Удалить стержень
      </button>
      <div class="form-check me-4">
        <input class="form-check-input" type="checkbox" id="support-left" data-search-target="supportLeft">
        <label class="form-check-label" for="support-left">
          Опора слева
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="support-right" data-search-target="supportRight">
        <label class="form-check-label" for="support-right">
          Опора справа
        </label>
      </div>
    </div>
  </div>
  <%= render 'preprocessor/form' %>
  <div class="d-flex justify-content-center">
    <div data-controller="new-construction-table">
      <button type="button" class="btn btn-primary me-2" data-action="click->new-construction-table#saveEdited">Сохранить</button>
    </div>
    <div data-controller="visualizer">
      <button type="button" class="btn btn-info" data-action="click->visualizer#draw">Отрисовка</button>
    </div>
  </div>
  <%= render partial: 'preprocessor/visualizer' %>
</div>